@{
    ViewData["Title"] = "Privacy Policy";
}
@{
    Layout = "_Layout";
}
@model BlogApp.Entities.Post


<div>
    @Model.PostTitle
    @Model.PostContent
    @Model.PostPublishDate
    @Model.PostTags.Count
    @Model.PostComments.Count
</div>
